<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>카카오맵</title>
  <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=4724f6f93eba6c3858d7b0cf2a9caad1&libraries=service,clusterer,drawing"></script>
  <link rel="icon" href="/static/images/favicon.png" />
  <link rel="stylesheet" href="/static/css/map.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <!-- https://map.kakao.com/ -->
</head>

<body>
  <div id="container">
    <aside>
      <header>
        <div class="title">
          <h1 class="title-text">
            <i class="fa-solid fa-bars"></i>
            <!-- i태그 : 이탤릭체 -->
            kakao<span class="map-text">map</span>
          </h1>
          <div class="check-location">
            <input type="checkbox" id="my-location" />
            <label for="my-location" class="my-location-label">현 지도 내 장소검색</label>
          </div>
        </div>
        <div class="search-container">
          <div class="search">
            <input type="text" class="search-input" placeholder="장소, 주소, 버스 검색" />
            <i class="fa-solid fa-magnifying-glass"></i>
          </div>
          <div class="search-recent invisible-recent">
            <!-- search-recent invisible-recent 는 리스트로 인덱스번호를 가지고있다 search-recent는 0번 -->
            <div class="title-recent">히스토리가 없습니다.</div>
            <ul class="list-recent"></ul>
            <div class="favorite-recent">
              <!--button은 type을 button으로 항상 해줘야된다 (기본값이 submit이기 때문)-->
              <button type="button" class="button-recentoff">
                히스토리 끄기
              </button>
            </div>
          </div>
        </div>
      </header>
      <ul class="menu">
        <!-- javascript:void(0) : 아무것도 동작하지마라 -->
        <li>
          <a href="javascript:void(0)" class="mainmenutab tab-selected">검색</a>
        </li>
        <li><a href="javascript:void(0)" class="mainmenutab">길찾기</a></li>
        <li><a href="javascript:void(0)" class="mainmenutab">버스</a></li>
        <li><a href="javascript:void(0)" class="mainmenutab">지하철</a></li>
        <li><a href="javascript:void(0)" class="mainmenutab">MY</a></li>
      </ul>
      <div class="info-body">
        <div class="search-body">
          <div class="report-error">
            <span>부산진구 양정1동</span>
            <div class="info-Air">
              <span class="txt-air">맑음</span>
              <span class="temper">15℃</span>
              <span class="txt-change">어제보다 1℃ 높아요</span>
              <span class="txt-bar"></span>
              <span class="txt-dust">미세 <span class="txt-state-density2">좋음</span></span>
              <span class="txt-dust">초미세 <span class="txt-state-density2">좋음</span></span>
            </div>
            <a href="#" class="reportbug">오류신고</a>
          </div>
          <div class="info">
            <h3 class="title-around">주변 탐색</h3>
            <ul class="list-around">
              <li>
                <button class="button-around">
                  <div class="button-icon">
                    <i class="fa-solid fa-utensils"></i>
                  </div>
                  <span class="button-title">음식점</span>
                </button>
              </li>
              <li>
                <button class="button-around">
                  <div class="button-icon">
                    <i class="fa-solid fa-mug-hot"></i>
                  </div>
                  <span class="button-title">카페</span>
                </button>
              </li>
              <li>
                <button class="button-around">
                  <div class="button-icon">
                    <i class="fa-solid fa-bus-simple"></i>
                  </div>
                  <span class="button-title">버스</span>
                </button>
              </li>
              <li>
                <button class="button-around">
                  <div class="button-icon">
                    <i class="fa-solid fa-train-subway"></i>
                  </div>
                  <span class="button-title">지하철</span>
                </button>
              </li>
              <li>
                <button class="button-around">
                  <div class="button-icon">
                    <i class="fa-solid fa-bed"></i>
                  </div>
                  <span class="button-title">숙박</span>
                </button>
              </li>
              <li>
                <button class="button-around">
                  <div class="button-icon">
                    <i class="fa-solid fa-won-sign"></i>
                  </div>
                  <span class="button-title">은행</span>
                </button>
              </li>
              <li>
                <button class="button-around">
                  <div class="button-icon">
                    <i class="fa-solid fa-house-user"></i>
                  </div>
                  <span class="button-title">편의점</span>
                </button>
              </li>
            </ul>
          </div>
        </div>
        <div class="search-body invisible-body">길찾기 화면</div>
        <div class="search-body invisible-body">버스찾기 화면</div>
        <div class="search-body invisible-body">지하철찾기 화면</div>
        <div class="search-body invisible-body">MY 화면</div>
      </div>
      <div class="regfav">
        <div class="favorite-exposed">
          <h3 class="tit-favorit">
            <a href="#">즐겨찾기</a>
          </h3>
          <ul class="list-registerated">
            <li>
              <div class="favorite-registerated">
                <a href="#">
                  <span class="icon-personal1">
                    <i class="fa-solid fa-house"></i>
                    <span class="txt-personal">
                      집 주소를 등록하세요
                    </span>
                  </span>
                </a> 
              </div>
            </li>
            <li class="favorite-list">
              <div class="favorite-registerated">
                <a href="#">
                  <span class="icon-personal2">
                    <i class="fa-solid fa-building"></i>
                    <span class="txt-personal">
                      회사 주소를 등록하세요
                    </span>
                  </span>
                </a> 
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="info-new-place">
        <div class="new-place">
          <h6 class="tit-newplace">새로운 장소</h6>
          <p class="desc-newplace">
            새로운장소를 알고계세요? <br>장소 제안은 지도 품질향상에 큰 도움이 됩니다
          </p>
          <a href="#" class="link">신규 장소 등록</a>
        </div>
      </div>
      <button type="button" class="toggle-button">◀</button>
    </aside>
    <div id="map"></div>
  </div>

  <script src="/static/js/map.js"></script>
</body>

</html>